version: '3.8'

services:
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    environment:
      - STORAGE_TYPE=mem
    networks:
      - strix-zipkin-network

networks:
  strix-zipkin-network:
    driver: bridge
